
/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
  border-radius: 10px; /* Curved edges */
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(149 72 4 / 13%); 
  border-radius: 10px;
}

/* Thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(146 68 0 / 70%);
  border-radius: 10px; /* Rounded scrollbar */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(146 68 0 / 70%) rgb(149 72 4 / 13%);
}



@keyframes dotBlink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.dot-animation {
  animation: dotBlink 1.5s infinite;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}
