@font-face {
	font-family: "SF Pro";
	src: url("/src/assets/fonts/SF-Pro.ttf") format("truetype"),
		url("/src/assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SF Pro";
	src: url("/src/assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge */
}

body {
	font-family: "SF Pro";
}
